html,
body {
  background-color: black;
  color: gainsboro;
}

table, tbody, thead, tr, td {
  border: 1px solid gainsboro;
}

td {
  padding: 2px 4px;
  min-width: 48px;
}

td:hover {
  border: 2px solid blue;
}
